.mainText {
    font-size: xxx-large;
    font-weight: 500;
    color: gray;
}

.secondaryText {
    font-size: large;
    font-weight: 500;
    color: lightblue;
}
.buttonColor {
    background-color: lightblue;
}

.buttonTextColor {
    color: lightblue;
}

.refreshThickness {
    stroke: lightblue;
    stroke-width: 4%;
}

.refreshRow {
    position: absolute;
    top: 555px;
    left: 235px;
}

